* {
    box-sizing: border-box;
}

div, label, select, input, button {
    border: 2px solid red;
    border-color: orange;
}

.material-icons {
  color: #FF6600;
  opacity: 1;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.material-icons:hover {
    opacity: 0.6;
}

.material-icons:hover {
    opacity: .6;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-26 {
    font-size: 26px;
}

.material-icons.md-28 {
    font-size: 28px;
}

.material-icons.md-30 {
    font-size: 30px;
}

.material-icons.md-32 {
    font-size: 32px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.fecha {
    position: relative;
    top: -3px;
    right: -20px;
    cursor: pointer;
}

html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

button {
    color: black;
    background-color: transparent;
    border-radius: 8px;
    border: 2px solid #FF6600;
    font-size: 16px;
    margin: 4px 2px;
    padding: 16px 32px;
    text-align: center;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

button:hover, button:focus {
    background-color: #FF6600;
    color: #e9e9e9;
}

button:hover .material-icons, button:focus .material-icons {
    color: #e9e9e9;
}

.logo-abertura img {
    position: relative;
    top: -50px;
    width: 235px;
}

.search-bar {
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 9999999;
    width: 100%;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

.search-bar .open {
    top: 0;
}

.search-bar .search-icon {
    position: fixed;
    top: 20px;
    right: 20px;
}

.search-bar .search-icon .material-icons {
    font-size: 32px;
    color: #999;
}

.search-bar .close-search {
    position: absolute;
    cursor: pointer;
    font-size: 30px;
    top: 16px;
    right: 18px;
}

.search-bar .close-search .material-icons {
    color: #999;
    opacity: 1;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.search-bar .close-search .material-icons:hover {
    opacity: .5;
}

.search-bar input[type="text"] {
    width: 100%;
    font-size: 16px;
    padding: 25px 60px 23px 56px;
    border: none;
}

.tema-cafe-perfeito button {
    background-color: #FF6600;
    color: #e9e9e9;
}

.tema-cafe-perfeito .navbar {
    background-color: transparent;
}

.tema-cafe-perfeito .navbar img {
    height: 50px;
    border-radius: 50%;
    background-color: #e9e9e9;
}

.tema-cafe-perfeito .navbar .material-icons {
    color: #e9e9e9;
}

/*# sourceMappingURL=cafeperfeito.css.map */
