.imagem {
  &-login {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url("../img/sistema/logo.png") no-repeat, center;
    width: $larguraLogoLogin;
    height: $altutaLogoLogin;
    padding-left: $larguraLogoLogin;
  }
}