{% load staticfiles %}

<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <a class="navbar-brand" href="{% url 'cafeperfeito:home' %}">
        <img src="{% static 'cafeperfeito/img/sistema/logo.png' %}" width="60" height="60" alt="logo">
    </a>
    <div class="row">
        {#        <div>#}
        {#            <img class="img-log-user" alt="user_img"#}
        {#                 src="{% static 'cafeperfeito/img/user.png' %}"/>#}
        {#                 src="data:image;base64,{{ logUser.get_colaborador_imagem }}"/>#}
        {#        </div>#}
        <div class="align-self-center">
            <div>
                <div class="row name-log-user align-middle">
                    <i class="material-icons md-14">person</i> {{ user }}
                </div>
                <div class="row email-log-user align-middle">
                    <i class="material-icons md-14">alternate_email</i> {{ user.email }}
                </div>
            </div>
        </div>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <i class="material-icons md-24">menu</i>
    </button>
    <div class="collapse navbar-collapse justify-content-sm-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Cadastros
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Cadastro de empresas</a>
                    <a class="dropdown-item" href="{% url 'cafeperfeito:lista_produtos' %}">Cadastro de produtos</a>
                    <a class="dropdown-item" href="#">Cadastro de equipamentos</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Movimentações
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    {#                    <a class="dropdown-item" href="#">Cadastro de empresas</a>#}
                    {#                    <a class="dropdown-item" href="{% url 'cafeperfeito:lista_produtos' %}">Cadastro de produtos</a>#}
                    {#                    <a class="dropdown-item" href="#">Cadastro de equipamentos</a>#}
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Relatorios
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    {#                    <a class="dropdown-item" href="#">Cadastro de empresas</a>#}
                    {#                    <a class="dropdown-item" href="{% url 'cafeperfeito:lista_produtos' %}">Cadastro de produtos</a>#}
                    {#                    <a class="dropdown-item" href="#">Cadastro de equipamentos</a>#}
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" id="logout" href="#"><i class="material-icons">exit_to_app</i>Sair</a>
            </li>
            {#            <li class="nav-item">#}
            {#                <a class="nav-link" href="#">Features</a>#}
            {#            </li>#}
            {#            <li class="nav-item">#}
            {#                <a class="nav-link" href="#">Pricing</a>#}
            {#            </li>#}
        </ul>
    </div>
</nav>
