{% extends 'cafeperfeito/_layouts/base.html' %}
{% load static %}
{% block title %}
    Página Principal
{% endblock %}

{% block conteudo %}
    <div style="background-image: url('cafeperfeito/img/sistema/principal.png');">
    {#    <img class="img-logo-principal" src="{% static 'cafeperfeito/img/sistema/principal.png' %}"  alt="principal.png">#}
    {#    <img src="{% s %}">#}
    {#    Welcome  {{ user.email }}#}
    {#    <div class="container">#}
    {#        <div class="row">#}
    {#            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">#}
    {#                <div class="card">#}
    {#                    <div class="card-body">#}
    {#                        <h5 class="card-title">Principal</h5>#}
    {#                        <p class="card-text">#}
    {#                            **{{ usuario.id.cargo.descricao }}**#}
    {#                            Cadastre aqui um novo <code>{{ form.email }}</code>.#}
    {#                        </p>#}
    {#                        <a href="{% url 'cafeperfeito:home' %}"#}
    {#                           class="btn btn-primary">#}
    {#                            Principal#}
    {#                        </a>#}
    {#                        <p class="mt-5 mb-3 text-muted">© 2006 - {{ now.year }}</p>#}
    {##}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">#}
    {#                <div class="card">#}
    {#                    <div class="card-body">#}
    {#                        <h5 class="card-title">Lista de Funcionários</h5>#}
    {#                        <p class="card-text">#}
    {#                            Veja aqui a lista de <code>Funcionários</code> cadastrados.#}
    {#                        </p>#}
    {#                        <a href="{% url 'produto' %}"#}
    {#                           class="btn btn-primary">#}
    {#                            Vá para Lista#}
    {#                        </a>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
{% endblock %}

{% block scripts %}

{% endblock %}
