{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Café Perfeito - Principal</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    {#    <link rel="icon" href="../../static/cafeperfeito/img/sistema/icon.iconset/icon_16x16.png">#}
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {#    <!-- Bootstrap CSS -->#}
    {#    <link rel="stylesheet" href="{% static 'cafeperfeito/bootstrap/css/bootstrap.css' %}" type="text/css">#}

    <!--Import Google Icon Font-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext"
          type="text/css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" type="text/css"/>
    <!--Import materialize.css-->
    <link rel="stylesheet" href="{% static 'cafeperfeito/materialize/css/materialize.css' %}"
          media="screen,projection" type="text/css"/>

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
            integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
            crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
            integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
            crossorigin="anonymous"></script>

    <!-- Our Custom CSS -->
    {#    <link rel="stylesheet" href="{% static 'cafeperfeito/css/cafeperfeito.css' %}" type="text/css">#}
    <link rel="stylesheet" href="{% static 'cafeperfeito/css/animacaoCirculo.css' %}" type="text/css">
</head>

<body class="tema tema-cafe-perfeito">
<!-- Page Loader -->
<div id="logo" class="logo-abertura tela-branca">
    <div class="hoja">
        <img src="../../static/cafeperfeito/img/sistema/logo.png">
    </div>
</div>
<!-- #END# Page Loader -->


<ul id="slide-out" class="sidenav">
    <li><a class="sidenav-close" href="#!">Clicking this will close Sidenav</a></li>
    <li>
        {% block username %}{% endblock %}
    </li>
    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
</ul>
{#<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>#}
<a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>


{#<div class="wrapper">#}
{#    <!-- Sidebar -->#}
{#    <nav id="sidebar">#}
{#        <div class="user-info">#}
{#            <div class="image">#}
{#                <img src="" width="48" height="48" alt="Usuário">#}
{#            </div>#}
{#        </div>#}
{#    </nav>#}
{#    <!-- #END# Sidebar -->#}
{#    <!-- Page Content -->#}
{#    <!-- #END# Page Content -->#}
{#</div>#}


<!-- jQuery - Slim version (=without AJAX) -->
<script type="text/javascript" src="{% static 'cafeperfeito/jquery/jquery-3.3.1.js' %}"></script>
<!-- Popper.JS -->
<script type="text/javascript" src="{% static 'cafeperfeito/bootstrap/js/bootstrap.bundle.js' %}"></script>
<!-- Bootstrap JS -->
<script type="text/javascript" src="{% static 'cafeperfeito/bootstrap/js/bootstrap.js' %}"></script>
<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="{% static 'cafeperfeito/materialize/js/materialize.js' %}"></script>
<!-- Our Custom CSS -->
<script type="text/javascript" src="{% static 'cafeperfeito/js/cafeperfeito.js' %}"></script>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, options);
    });

    // Initialize collapsible (uncomment the lines below if you use the dropdown variation)
    // var collapsibleElem = document.querySelector('.collapsible');
    // var collapsibleInstance = M.Collapsible.init(collapsibleElem, options);

    // Or with jQuery

    $(document).ready(function () {
        $('.sidenav').sidenav();
    });
</script>
</body>
</html>