{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Café Perfeito - Principal</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    {#    <link rel="icon" href="../../static/cafeperfeito/img/sistema/icon.iconset/icon_16x16.png">#}
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'cafeperfeito/bootstrap/css/bootstrap.css' %}" type="text/css">

    <!--Import Google Icon Font-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext"
          type="text/css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" type="text/css"/>
    <!--Import materialize.css-->
    <link rel="stylesheet" href="{% static 'cafeperfeito/materialize/css/materialize.css' %}"
          media="screen,projection" type="text/css"/>

    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="{% static 'cafeperfeito/css/cafeperfeito.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'cafeperfeito/css/animacaoCirculo.css' %}" type="text/css">
</head>

<body class="tema tema-cafe-perfeito">
<!-- Page Loader -->
<div id="logo" class="logo-abertura tela-branca">
    <div class="hoja">
        <img src="../../static/cafeperfeito/img/sistema/logo.png">
    </div>
</div>
<!-- #END# Page Loader -->
<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<!-- #END# Overlay For Sidebars -->
<!-- Search Bar -->
{#<div class="search-bar">#}
{#    <div class="search-icon">#}
{#        <i class="material-icons md-28">search</i>#}
{#    </div>#}
{#    <input type="text" placeholder="Pesquisar por...">#}
{#    <div class="close-search">#}
{#        <i class="pointer material-icons md-28">close</i>#}
{#    </div>#}
{#</div>#}
<!-- #END# Search Bar -->
<div class="wrapper">
    <!-- Header -->
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Header as you want </h3>
            </h3>
        </div>
        <ul class="list-unstyled components">
            <p>Dummy Heading</p>
            <li class="active">
                <a href="#menu">Animación</a>
            </li>
            <li>
                <a href="#menu">Ilustración</a>
            </li>
            <li>
                <a href="#menu">Interacción</a>
            </li>
            <li>
                <a href="#">Blog</a>
            </li>
            <li>
                <a href="#">Acerca</a>
            </li>
            <li>
                <a href="#">contacto</a>
            </li>
        </ul>
    </nav>

    <!-- Page Content Holder -->
    <div id="content">
        <nav class="navbar fixed-top navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" style="font-size: 30px;" href="http://www.cafeperfeito.com.br/ftpcafeperfeito">
                    <img src="../../static/cafeperfeito/img/sistema/logo.png" alt="logo.png"
                         class="d-inline-block align-top"
                         height="45"> CafePerfeito
                </a>
                <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                    <i class="glyphicon glyphicon-align-left"></i>
                    <span>Toggle Sidebar</span>
                </button>
                {#                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"#}
                {#                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">#}
                {#                    <span class="navbar-toggler-icon"></span>#}
                {#                </button>#}
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li>
                        </li>
                    </ul>
                </div>
                <!-- Call Search -->
                <a class="search-icon js-search">
                    <i class="js-search pointer material-icons md-28 search-icon">search</i></a>
                </a>
                <!-- #END# Call Search -->

            </div>
        </nav>
        <!-- #END# Header -->


        {#        <nav class="navbar navbar-default">#}
        {#            <div class="container-fluid">#}
        {##}
        {#                <div class="navbar-header">#}
        {#                    <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">#}
        {#                        <i class="glyphicon glyphicon-align-left"></i>#}
        {#                        <span>Toggle Sidebar</span>#}
        {#                    </button>#}
        {#                </div>#}
        {##}
        {#                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">#}
        {#                    <ul class="nav navbar-nav navbar-right">#}
        {#                        <li><a href="#">Page</a></li>#}
        {#                    </ul>#}
        {#                </div>#}
        {#            </div>#}
        {#        </nav>#}


    </div>
</div>


<!-- jQuery - Slim version (=without AJAX) -->
<script type="text/javascript" src="{% static 'cafeperfeito/jquery/jquery-3.3.1.js' %}"></script>
<!-- Popper.JS -->
<script type="text/javascript" src="{% static 'cafeperfeito/bootstrap/js/bootstrap.bundle.js' %}"></script>
<!-- Bootstrap JS -->
<script type="text/javascript" src="{% static 'cafeperfeito/bootstrap/js/bootstrap.js' %}"></script>
<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="{% static 'cafeperfeito/materialize/js/materialize.js' %}"></script>
<!-- Our Custom CSS -->
<script type="text/javascript" src="{% static 'cafeperfeito/js/cafeperfeito.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function () {


        $('#sidebarCollapse').on('click', function () {
            $('#sidebar, #content').toggleClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
    });
</script>
</body>
</html>