<!DOCTYPE html>
{% load staticfiles %}
{% load widget_tweaks %}
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
        {% block title %}Café Perfeito - Login{% endblock %}
    </title>

    <link rel="shortcut icon" href="{% static 'cafeperfeito/img/sistema/icon.iconset/icon_16x16.png' %}"
          type="image/png">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'cafeperfeito/bootstrap/css/bootstrap.min.css' %}" type="text/css">

    <!--Import Google Icon Font-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext"
          type="text/css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" type="text/css"/>

    {#    <!--Import materialize.css-->#}
    {#    <link rel="stylesheet" href="{% static 'cafeperfeito/materialize/css/materialize.css' %}"#}
    {#          media="screen,projection" type="text/css"/>#}

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
            integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
            crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
            integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
            crossorigin="anonymous"></script>

    {#    <!-- Our Custom CSS -->#}
    {#    <link rel="stylesheet" href="{% static 'cafeperfeito/css/cafeperfeito.css' %}" type="text/css">#}
    {#    <link rel="stylesheet" href="{% static 'cafeperfeito/css/animacaoCirculo.css' %}" type="text/css">#}

</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Login de sistema</h5>
                    <div>
                        <img class="circle responsive-img" src="{% static 'cafeperfeito/img/sistema/logo.png' %}"
                             alt="logo.png">
                    </div>
                </div>
                <div class="card-body">
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <form method="post">
                        {% csrf_token %}
                        {#                        {{ form.as_p }}#}
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Email</span>
                            </div>
                            <input type="email" name="email" class="form-control"
                                   placeholder="Email"
                                   required
                                   autofocus>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Password</span>
                            </div>
                            <input type="password" name="senha" class="form-control"
                                   placeholder="Password"
                                   required>
                        </div>
                        <button class="btn btn-primary">Login</button>
                    </form>
                </div>
                <div class="card-footer">
                    <!-- Footer -->
                    <p class="mt-5 mb-3 text-muted">© 2006 - {{ now.year }}</p>
                    <!-- #Footer -->
                </div>
            </div>
        </div>
    </div>
</div>
{#<button onclick="document.getElementById('meu-login').style.display='block'" style="width: auto;">#}
{#    fazer login<i class="material-icons md-18">account_balance_wallet</i>#}
{#</button>#}
{#<div id="meu-login" class="modal">#}
{#    <form name="frmlogin" class="modal-content" method="post">#}
{#        <div class="container-fluid">#}
{#            <div class="row valign-wrapper">#}
{#                <div class="col s11">#}
{#                    <img src="../../static/cafeperfeito/img/sistema/background-user-img.jpg" class="circle responsive-img"#}
{#                         alt="logo.png">#}
{#                </div>#}
{#                <div class="col s1">#}
{#                    <span class="material-icons md-18"#}
{#                       onclick="document.getElementById('meu-login').style.display='none'">close</span>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="container">#}
{#        {% block content %}{% endblock %}#}
{#        </div>#}
{#    </form>#}
{##}
{#<div id="caixa-login" class="modal caixa-login">#}
{#    <form name="formlogin" class="modal-content animate" method="post">#}
{#        {% csrf_token %}#}
{#        <div class="caixa-imagem-login">#}
{#            <div class="fecha-caixa-login material-icons md-18"#}
{#                 onclick="document.getElementById('caixa-login').style.display='none'">close#}
{#            </div>#}
{#            <div class="imagem-login"/>#}
{#            <img class="imagem-login" src="{% static 'cafeperfeito/img/sistema/logo.png' %}" alt="Logo">#}
{#        </div>#}
{##}
{#        <div class="container">#}
{#            {% block content %}{% endblock %}#}
{#        </div>#}
{#    </form>#}
{#</div>#}
{#</div>#}


<!-- jQuery - Slim version (=without AJAX) -->
<script type="text/javascript" src="{% static 'cafeperfeito/jquery/jquery-3.3.1.js' %}"></script>
<!-- Popper.JS -->
<script type="text/javascript" src="{% static 'cafeperfeito/bootstrap/js/bootstrap.bundle.js' %}"></script>
<!-- Bootstrap JS -->
<script type="text/javascript" src="{% static 'cafeperfeito/bootstrap/js/bootstrap.js' %}"></script>
<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="{% static 'cafeperfeito/materialize/js/materialize.js' %}"></script>
<!-- Our Custom CSS -->
<script type="text/javascript" src="{% static 'cafeperfeito/js/cafeperfeito.js' %}"></script>

</body>

</html>