{% extends 'cafeperfeito/_layouts/base.html' %}

{% block title %}
    Página Principal
{% endblock %}

{% block conteudo %}
    Welcome  {{ user.email }}
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Principal</h5>
                        <p class="card-text">
                            Cadastre aqui um novo <code>{{ form.email }}</code>.
                        </p>
                        <a href="{% url 'cafeperfeito:principal' %}"
                           class="btn btn-primary">
                            Principal
                        </a>
                    </div>
                </div>
            </div>
            {#            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">#}
            {#                <div class="card">#}
            {#                    <div class="card-body">#}
            {#                        <h5 class="card-title">Lista de Funcionários</h5>#}
            {#                        <p class="card-text">#}
            {#                            Veja aqui a lista de <code>Funcionários</code> cadastrados.#}
            {#                        </p>#}
            {#                        <a href="{% url 'produto' %}"#}
            {#                           class="btn btn-primary">#}
            {#                            Vá para Lista#}
            {#                        </a>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}
        </div>
    </div>
{% endblock %}
