{% extends "cafeperfeito/navigation.html" %}


{% block main %}
    <form action="">
        <p>Cadastro de produto</p>
        <p>Pesquisar produto<br/> <input name="&quot;txtPesquisaProduto" type="text"/></p>
        <table style="height: 80px;" width="621">
            <tbody>
            <tr>
                <td style="width: 71.125px;">id</td>
                <td style="width: 71.125px;">C&oacute;digo</td>
                <td style="width: 71.125px;">Descri&ccedil;&atilde;o</td>
                <td style="width: 71.125px;">Und Com</td>
                <td style="width: 71.125px;">Varejo</td>
                <td style="width: 71.125px;">Pre&ccedil;o Fab.</td>
                <td style="width: 71.125px;">Pre&ccedil;o Cons.</td>
                <td style="width: 71.125px;">Situa&ccedil;&atilde;o</td>
            </tr>
            <tr>
                <td style="width: 71.125px;">&nbsp;</td>
                <td style="width: 71.125px;">&nbsp;</td>
                <td style="width: 71.125px;">&nbsp;</td>
                <td style="width: 71.125px;">&nbsp;</td>
                <td style="width: 71.125px;">&nbsp;</td>
                <td style="width: 71.125px;">&nbsp;</td>
                <td style="width: 71.125px;">&nbsp;</td>
                <td style="width: 71.125px;">&nbsp;</td>
            </tr>
            <tr>
                <td style="width: 71.125px;">&nbsp;</td>
                <td style="width: 71.125px;">&nbsp;</td>
                <td style="width: 71.125px;">&nbsp;</td>
                <td style="width: 71.125px;">&nbsp;</td>
                <td style="width: 71.125px;">&nbsp;</td>
                <td style="width: 71.125px;">&nbsp;</td>
                <td style="width: 71.125px;">&nbsp;</td>
                <td style="width: 71.125px;">&nbsp;</td>
            </tr>
            <tr>
                <td style="width: 71.125px;">&nbsp;</td>
                <td style="width: 71.125px;">&nbsp;</td>
                <td style="width: 71.125px;">&nbsp;</td>
                <td style="width: 71.125px;">&nbsp;</td>
                <td style="width: 71.125px;">&nbsp;</td>
                <td style="width: 71.125px;">&nbsp;</td>
                <td style="width: 71.125px;">&nbsp;</td>
                <td style="width: 71.125px;">&nbsp;</td>
            </tr>
            <tr>
                <td style="width: 71.125px;">&nbsp;</td>
                <td style="width: 71.125px;">&nbsp;</td>
                <td style="width: 71.125px;">&nbsp;</td>
                <td style="width: 71.125px;">&nbsp;</td>
                <td style="width: 71.125px;">&nbsp;</td>
                <td style="width: 71.125px;">&nbsp;</td>
                <td style="width: 71.125px;">&nbsp;</td>
                <td style="width: 71.125px;">&nbsp;</td>
            </tr>
            </tbody>
        </table>
    </form>
{% endblock %}
