<!DOCTYPE html>
<html lang="pt-br">
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
        {% block title %}Sistema de Gerenciamento de Fucionários{% endblock %}
    </title>

    <link rel="shortcut icon" href="{% static 'cafeperfeito/img/sistema/icon.iconset/icon_16x16.png' %}"
          type="image/png">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {#    <!-- Bootstrap CSS -->#}
    <link rel="stylesheet" href="{% static 'cafeperfeito/bootstrap/css/bootstrap.css' %}" type="text/css">
    {#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"#}
    {#          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">#}

    <!-- Bootstrap-Treeview CSS -->
    <link rel="stylesheet" href="{% static 'cafeperfeito/bootstrap-treeview/css/bootstrap-treeview.css' %}"
          type="text/css">


    <!--Import Google Icon Font-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext"
          type="text/css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" type="text/css"/>

    <!--Import materialize.css-->
    <link rel="stylesheet" href="{% static 'cafeperfeito/materialize/css/materialize.css' %}"
          media="screen, projection" type="text/css"/>

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
            integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
            crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
            integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
            crossorigin="anonymous"></script>

    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="{% static 'cafeperfeito/css/cafeperfeito.css' %}" type="text/css"/>

</head>
<!-- #Head -->
<body>

{#<!-- Page Loader -->#}
{#<div id="logo" class="logo-abertura tela-branca">#}
{#    <div class="hoja">#}
{#        <img src="../../static/cafeperfeito/img/sistema/logo.png">#}
{#    </div>#}
{#</div>#}
{#<!-- #Page Loader -->#}
{#<!-- Overlay for Sidebars -->#}
{#<div class="overlay"></div>#}
{#<!-- #Overlay for Sidebars -->#}


<ul id="slide-out" class="sidenav sidenav-fixed">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="{% static 'cafeperfeito/img/sistema/login.jpeg' %}">
            </div>
            <a href="#user"><img class="circle"
                                 src="../../static/cafeperfeito/img/users/user_{{ logUser.get_id00 }}.jpeg"></a>
            <a href="#name"><span class="white-text name">{{ logUser.id.apelido }}</span></a>
            <a href="#email"><span class="white-text email">{{ logUser.email }}</span></a>
        </div>
    </li>

    {#    <div class="icon node-icon"></div>#}
    <div class="icon"></div>
    <div id="tree"></div>

    {#    {% for menu in menus %}#}
    {#        <li><a href="#!">{{ menu }}</a></li>#}
    {#    {% endfor %}#}
    {#    <ul id="myUlMenu">#}
    {#        <li><span class="caret">menu.menulabel</span>#}
    {#            <ul class="nested">#}
    {#                <li>Water</li>#}
    {#                <li>Coffee</li>#}
    {#                <li><span class="caret">Tea</span>#}
    {#                    <ul class="nested">#}
    {#                        <li>Black Tea</li>#}
    {#                        <li>White Tea</li>#}
    {#                        <li><span class="caret">Green Tea</span>#}
    {#                            <ul class="nested">#}
    {#                                <li>Sencha</li>#}
    {#                                <li>Gyokuro</li>#}
    {#                                <li>Matcha</li>#}
    {#                                <li>Pi Lo Chun</li>#}
    {#                            </ul>#}
    {#                        </li>#}
    {#                    </ul>#}
    {#                </li>#}
    {#            </ul>#}
    {#        </li>#}
    {#    </ul>#}
    {#    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>#}
    {#    <li><a href="#!">Second Link</a></li>#}
    {#    <li><a class="subheader">Subheader</a></li>#}
    {#    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>#}
    <li>
        <!-- Footer -->
        <div class="copyright">
            Café Perfeito © 2006 - {{ now.year }}.<br>
            <b>Version: </b> 1.0.5
        </div>
        <!-- #Footer -->
    </li>
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>


<!-- Bloco de conteúdo -->
{% block conteudo %}{% endblock %}


<!-- jQuery - Slim version (=without AJAX) -->
<script type="text/javascript" src="{% static 'cafeperfeito/jquery/jquery.js' %}"></script>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>#}

<!-- Bootstrap JS -->
<script type="text/javascript" src="{% static 'cafeperfeito/bootstrap/js/bootstrap.js' %}"></script>
{#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"#}
{#        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"#}
{#        crossorigin="anonymous"></script>#}

<!-- Bootstrap-Treeview -->
<script type="text/javascript" src="{% static 'cafeperfeito/bootstrap-treeview/js/bootstrap-treeview.js' %}"></script>

<!-- Popper.JS -->
<script type="text/javascript" src="{% static 'cafeperfeito/bootstrap/js/bootstrap.bundle.js' %}"></script>

<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="{% static 'cafeperfeito/materialize/js/materialize.js' %}"></script>

<!-- Our Custom CSS -->
{#<script type="text/javascript" src="{% static 'cafeperfeito/js/cafeperfeito.js' %}"></script>#}


{% block scripts %}{% endblock %}


<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, options);
    });
    $(document).ready(function () {
        $('.sidenav').sidenav();
    });


    function getTree() {
        var data = JSON.stringify({{ menus|safe }});
        return data;
    }

    $('#tree').treeview({
        data: getTree(),
        levels: 5,
        color: 'Safety Orange',
    });
</script>

</body>

</html>